body{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}
textarea {
    resize: none;
}
.user-nombre{
    height: 395px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-shadow: 6px 6px 3px #888888;
    border-radius: 10px;
    z-index: 1;
}
.user-nombre img{
    padding-top: 5%;
}
.user-nombre label{
    font-size: 180%;
    width: 100%;
}
.notificaciones{
    position: absolute;
    bottom: 0;
    background: #1ac9ff;
    color: #ffffff;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom-right-radius: 10px;
    width:100%;
}
.user-desc{
    margin-top: 10px;
    height: 345px;
    background-color: #ffffff;
    border-top: solid 15px #1ac9ff;
    border-bottom: solid 15px #1ac9ff;
}
.user-desc p{
    font-size: 110%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.tabs-select{
    padding-top: 5%;
}
.panel{
    background-color: #ffffff;
}
.login-box{
    padding-top: 15%;
    background-color: #ffffff;
    box-shadow: 6px 6px 3px #888888;
    border-radius: 10px;
    z-index: 99999;
}
.login-form{
    font-size: 150%;
}
.formulario{
    font-size: 35px;
    height: 100px;
}
.icono{
    padding-top: 40px;
    font-size: 50px;
}
.botones{
    padding-bottom: 0;
    margin-bottom: 0;
}
.boton{
    font-size: 35px;
    color: #ffffff;
    height: 100px;
    cursor: pointer;
}
.boton a{
    text-decoration: none;
    font-size: 35px;
    color: #ffffff;
}
.img-icono-select{
    height: 80px;
    width: auto;
}
.color-verde,
.color-verde a{
    text-decoration: none;
    color: #2ca02c;
    font-size: 170%;
}
.bg-mexico{
    background: url("img/2000px-Blank_Mexico_map,_no_States.svg.png");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.lista-crear li{
    display: inline-block;
    list-style: none;
    z-index: 999;
}
.volver-button{
    float: left;
    font-size: 150%;
}
.texto-tipa{
    border-radius: 40px;
    background-color:#FFF;
    box-shadow: 5px 5px 5px -5px #000, 5px 5px 5px -5px #000, -5px 5px 5px -5px #000;
    padding-top: 25px;
    padding-bottom: 25px;
}
.cambia-form{
    margin-top: 10px;
    border-radius: 40px;
    background-color:#FFF;
    box-shadow: 5px 5px 5px -5px #000, 5px 5px 5px -5px #000, -5px 5px 5px -5px #000;
}
nav{
    background: #ffffff !important;
    border: none;
}
.img-chica-redonda{
    height:120px;
    width: auto;
}
.img-chica-redonda:hover,
.img-select-efecto:hover{
    transition: border-radius 0.5s ease;
    border-radius: 25%;

}
.img-perfil-reg{
    height: 200px;
    width: auto;
}
.img-perfil-reg-menu{
    height:auto;
    width: 80px;
    border-radius: 50%;
}
.img-perfil-reg-desc{
    height: auto;
    width: 300px;
}