body{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-color: #e0e0e0;
    text-rendering: optimizeLegibility;
}
textarea {
    resize: none;
}
.user-nombre{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-shadow: 6px 6px 3px #888888;
    border-radius: 10px;
    z-index: 99999;
}
.user-nombre img{
    padding-top: 5%;
    border-radius: 50%;
}
.user-nombre label{
    font-size: 180%;
    width: 100%;
}
.notificaciones{
    background: #1ac9ff;
    color: #ffffff;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom-right-radius: 10px;
}
.user-desc{
    background-color: #ffffff;
    border-top: solid 15px #1ac9ff;
    border-bottom: solid 15px #1ac9ff;
}
.user-desc p{
    font-size: 120%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.tabs-select{
    padding-top: 5%;
}
.panel{
    background-color: #e0e0e0;
}
nav{
    background-color: #e0e0e0 !important;
    border: none !important;
}